@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --logo-color: #ffc300;
  --color-small-text: #dc2626;
}
body {
  font-family: "Open Sans", sans-serif;
}


/*? -------------------------------------------------------------------------- */
/*?                                Global Styles                               */
/*? -------------------------------------------------------------------------- */

.titleOfSection {
  animation-name: title;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  background-color: #003566;
    box-shadow: 0px 0px 10px 10px #003566,
    10px 10px 10px 10px #003566,
    -10px -10px 10px 10px #003566
    ;
    text-shadow: 0px 0px 5px #FFC300,
    10px 10px 5px #FFC300,
    -10px -10px 5px #FFC300
    ;
    font-family: "Permanent Marker", cursive;


  }
@keyframes title {
  from {
    background-color: #003566;
    box-shadow: 
    0px 0px 10px 10px #003566,
    10px 10px 10px 10px #003566,
    -10px -10px 10px 10px #003566
    ;
    text-shadow: 0px 0px 30px #FFC300,
    10px 10px 30px #FFC300,
    -10px -10px 30px #FFC300
    ;
  }
  to {
    background-color: #003566;
    box-shadow: 
    0px 0px 10px 10px #003566,
    10px -10px 10px 10px #003566,
    -10px 10px 10px 10px #003566;


    text-shadow: 0px 0px 50px #FFC300,
    -10px 10px 50px #FFC300,
    10px -10px 50px #FFC300
    ;

  }
  
}
/*? -------------------------------------------------------------------------- */
/*?                               End Global Styles                            */
/*? -------------------------------------------------------------------------- */







@layer components {
  .btn {
    @apply relative overflow-hidden block p-2 rounded capitalize;
  }

  .skills-box {
    @apply flex transition-shadow duration-300 relative flex-col p-2 justify-center items-center bg-[#003566] odd:bg-[#023047] rounded-xl h-[160px] overflow-hidden; 
  }

  .input-contact {
    @apply smT0:col-span-4 col-span-2 outline-none row-span-1 text-lg p-2 bg-[#013566] rounded text-white
  }
}

/*! -------------------------------------------------------------------------- */
/*!                                Start Header                                */
/*! -------------------------------------------------------------------------- */
.headerNormal {
  position: fixed !important;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  animation-name: animationNormal;
  animation-duration: 1s;
  animation-iteration-count: 1;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.headerScroll {
  position: fixed !important;
  background-color: #001d3d;
  left: 0;
  width: 100%;
  animation-name: animationScroll;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes animationScroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes animationNormal {
  0% {
    transform: translateY(-100%) translateX(-50%);
  }
  100% {
    transform: translateY(0%) translateX(-50%);
  }
}
.header-link-mobile {
  @apply py-3 w-full text-gray-100 font-semibold relative px-3 hover:translate-x-[10px] transition-all duration-300 block;
}
.header-link-normal {
  @apply py-1 text-gray-100 font-semibold relative px-3 before:content-[''] before:absolute before:w-0 before:h-[10px] before:bg-[var(--logo-color)] before:top-full before:transition-all before:duration-300 before:left-0 hover:before:w-[10px] before:rounded-full hover:before:left-1/2 block;
}

.flex-between-center {
  @apply flex justify-between items-center;
}
.flex-center-center {
  @apply flex justify-center items-center;
}
.left-part::after {
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: var(--logo-color) transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%);
  top: -26px;
}
.job::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #fff;
  right: -3px;
  animation-name: opac;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*! -------------------------------------------------------------------------- */
/*!                                 End Header                                 */
/*! -------------------------------------------------------------------------- */

/*? -------------------------------------------------------------------------- */
/*?                             Start Hero Section                             */
/*? -------------------------------------------------------------------------- */
.btn-hero-hover::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
  border-radius: 3px;
  left: 0%;
  transition: 0.3s;
}
.btn-hero-hover:hover::before {
  height: 100%;
  width: 100%;
}
.image-me {
  background: hsla(207, 90%, 4%, 1);

  background: linear-gradient(225deg, hsla(207, 90%, 4%, 1) 0%, hsla(211, 100%, 12%, 1) 100%);

  background: -moz-linear-gradient(225deg, hsla(207, 90%, 4%, 1) 0%, hsla(211, 100%, 12%, 1) 100%);

  background: -webkit-linear-gradient(225deg, hsla(207, 90%, 4%, 1) 0%, hsla(211, 100%, 12%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#010B13", endColorstr="#001D3D", GradientType=1 );
}
/*? -------------------------------------------------------------------------- */
/*?                              End Hero Section                              */
/*? -------------------------------------------------------------------------- */


/*! -------------------------------------------------------------------------- */
/*!                                 Skills Part                                */
/*! -------------------------------------------------------------------------- */

.skills-box:hover {
  box-shadow: 0 0 5px 1px #FFF;
}

.skills-box:hover::before {
  height: 50px;
  width: 100%;
  border-radius: 5px;
}
.skills-box::before {
  content: attr(data-skill);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 5px;
  color: black;
  position: absolute;
  width: 90%;
  height: 0px;
  background: #ddd;
  bottom: -5px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transition: .3s ease-out;
  z-index: 100;
  
}
/*! -------------------------------------------------------------------------- */
/*!                                End Skills Part                             */
/*! -------------------------------------------------------------------------- */
/*  */
.product {
  user-select: none;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 2px;
}
.product:hover {
  box-shadow: 0 0 5px 0px #fff;
}

.product:hover .container-project-links {
  height: 50px;
  width: 100%;
  border-radius: 5px;
}
.img-product .container-project-links {
  display: flex;
  justify-content: center;
  padding: 5px;
  position: absolute;
  width: 90%;
  height: 0px;
  background: #ddd;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transition: .3s ease-out;
  
}

.all-input-filld-contact:focus {
  box-shadow: 0px 0px 5px 0px #fff;

}